.basic-test {
  background-color: green;
}
.basic-test .foo {
  font-size: 17px;
}
.basic-test .bar {
  font-size: 20px;
  color: #FF0000;
}
.class {
  width: calc(100% - (10px  - 5px));
  height: 25px;
  font-size: 0.25;
}
